<h1>Cocktails list</h1>

<ul class="list-group">
  <li class='list-group-item disabled'>
    <span class='name'>Cocktail name</span>
  </li>
  <% @cocktails.each do |cocktail| %>
  <li class='list-group-item'>
    <span class='name'><%= link_to cocktail.name, cocktail_path(cocktail) %></span>
  </li>
  <% end %>
</ul>


<%#------- yield balise title -------%>
<% content_for(:title) do %>All the cocktails are on MisterCocktail<% end %>

<%#------- yield meta description -------%>
<% content_for(:description) do %>
All the cocktails are on MisterCocktail : discover the
  <% for i in 1..10 do %>
  <%= @cocktails.shuffle[i].name %>,
  <% end %> and many more!
<% end %>
